<!DOCTYPE = html>
<html>
    <head>
        <title> About Us</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="icon" href="img/icon.png">
    </head>

    <body>
        <div class="main-content">

        {{>header}}
        <img class="portrait" src="img/jersey.jpeg">
        <p>This is {{author}}</p>
        </div>
    {{>footer}}
    </body>
    
</html>